/* style.css */

/* Must edit this file to place div in the middle of container using flexbox */
.container {
  display: flex; /* Sets flex container (primary axis is horizonatal by default ) */
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;

  justify-content: center; /* Aligns items in the middle of primary axis */
  align-items: center; /* Aligns flex items in the middle of cross axis of container */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}